@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}
#background_blurry_design_1{
    height: 600px;
    width: 600px;
    background-image: radial-gradient(closest-side, rgba(68, 198, 131, 0.21), #0000);
}
#background_blurry_design_2{
    height: 600px;
    width: 600px;
    background-image: radial-gradient(closest-side, rgba(28, 94, 60, 0.21), #0000);
}